<!-- driver-signup.component.html -->
<h2 class="font-bold text-3xl">Want to be a drive with us? Join us</h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required class="block p-4 border rounded-full mb-4 outline-none focus:border-black w-full">
  </div>
  <div>
    <label for="name">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" required class="block p-4 border rounded-full mb-4 outline-none focus:border-black w-full">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required class="block p-4 border rounded-full mb-4 outline-none focus:border-black w-full">
  </div>
  <div>
    <label for="name">Number plate:</label>
    <input type="text" id="numberPlate" name="numberPlate" [(ngModel)]="numberPlate" required class="block p-4 border rounded-full mb-4 outline-none focus:border-black w-full">
  </div>
  <div>
    <label for="name">Truck type:</label>
    <input type="text" id="truckType" name="truckType" [(ngModel)]="truckType" required class="block p-4 border rounded-full mb-4 outline-none focus:border-black w-full">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required class="block p-4 border rounded-full mb-4 outline-none focus:border-black w-full">
  </div>
  <button type="submit" class="btn w-3/12 p-4 bg-[#318464] border border-[#318464] rounded-full text-white hover:bg-white hover:text-[#318464] hover:border-[#318464] outline-none">Sign Up</button>
</form>
<!--
  
<h2>Driver Sign Up</h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <button type="submit">Sign Up</button>
</form>
-->