<div class="container" *ngIf="!isLoggedIn">
    <div class="welcome">
      <h1>Welcome to My App!</h1>
    </div>
  
    <div class="buttons">
      <button (click)="showLoginComponent = true">Login</button><br>
      <button (click)="showSignupComponent = true">Sign Up</button><br>
      <button (click)="showDriverLoginComponent = true">Driver Login</button><br>
      <button (click)="showDriverSignupComponent = true">Driver Sign Up</button><br>
    </div>
  
    <app-login *ngIf="showLoginComponent && !isLoggedIn" (continue)="onLoginContinue()"></app-login>
    <app-sign-up *ngIf="showSignupComponent && !isLoggedIn" (continue)="onSignupContinue()"></app-sign-up>
    <app-driver-login *ngIf="showDriverLoginComponent && !isLoggedIn" (continue)="onDriverLoginContinue()"></app-driver-login>
    <app-driver-signup *ngIf="showDriverSignupComponent && !isLoggedIn" (continue)="onDriverSignupContinue()"></app-driver-signup>
  </div>
  
  <app-customer *ngIf="isLoggedIn && !isDriver" (logout)="onLogout()"></app-customer>
  <app-driver *ngIf="isLoggedIn && isDriver" (logout)="onLogout()"></app-driver>
  
  
<router-outlet></router-outlet>


<!--
    EXAMPLE 1
<h2>Input Server Information</h2>
<input type="text" placeholder="Server Name" [(ngModel)]="Servername">
<h3>Display Server Information</h3>
<p>{{Servername}}</p>
<p>{{ServerPID}}</p>
<p>{{ServerStatus}}</p>

<button [disabled]="buttonState" (click)="toggleServerStatus()">Toggle Server status</button>
-->

<!--
    EXAMPLE 2
    //how to disable an input name button with Missing Name.
<label for="Fname">First Name</label>
<input type="text" name="Fname" placeholder="First Name" [(ngModel)]="name">

<p>{{ name }}</p>

<button (click)="resetName()" [disabled] = "checkName()">Reset name</button>

-->  
<!--
<h1 [ngStyle]="{color: getColor()}">This is an example of ngif </h1>

<h2 [ngClass]="{white: flag}"> This is just an example of ngClass</h2>

<p *ngIf="flag; else elseblock">Flag is True, Jessie! Bitch!!!</p>
<ng-template #elseblock>
<p>Flag is False, Walter White!!!</p>
</ng-template>

<button (click)="toggleFlag()">Toggle flag</button>
-->
<!--
<div *ngif="fruit" class="name"{{fruit.name}}></div> 
<script src="js/script.js" charset="utf-8"></script>




<app-assignment></app-assignment>
<app-fullcourse></app-fullcourse>
<app-mafia></app-mafia>-->