<div class="container" *ngIf="!isLoggedIn">
    <div class="welcome">
      <h1 class="font-extrabold text-5xl">Welcome to Clean up!</h1>
    </div>
  
    <div class="button-container flex gap-4 my-8">
      <button id="customerLoginBtn" (click)="showLoginComponent = true; showSignupComponent = false; showDriverLoginComponent = false; showDriverSignupComponent = false;" class="clicked-btn btn p-4 border border-[#318464] rounded-full text-[#318464] hover:bg-[#318464] hover:text-white hover:border-[#318464] outline-none">Customer login</button><br>
      <button id="customerRegisterBtn" (click)="showLoginComponent = false; showSignupComponent = true; showDriverLoginComponent = false; showDriverSignupComponent = false;" class="btn p-4 border border-[#318464] rounded-full text-[#318464] hover:bg-[#318464] hover:text-white hover:border-[#318464] outline-none">Customer Register</button><br>
      <button id="driverLoginBtn" (click)="showLoginComponent = false; showSignupComponent = false; showDriverLoginComponent = true; showDriverSignupComponent = false;" class="btn p-4 border border-[#318464] rounded-full text-[#318464] hover:bg-[#318464] hover:text-white hover:border-[#318464] outline-none">Driver Login</button><br>
      <button id="driverSignupBtn" (click)="showLoginComponent = false; showSignupComponent = false; showDriverLoginComponent = false; showDriverSignupComponent = true;" class="btn p-4 border border-[#318464] rounded-full text-[#318464] hover:bg-[#318464] hover:text-white hover:border-[#318464] outline-none">Driver Sign Up</button><br>
    </div>
    <div *ngIf="showLoginComponent || showSignupComponent ||showDriverLoginComponent || showDriverSignupComponent"
     class="flex min-h-[75vh] min-w-screen grid grid-cols-12 shadow-lg ">
      <div  class="col-span-4 bg-[#318464] bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1610141160723-d2d346e73766?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80')] p-4"></div>
      <div class="col-span-8 grid items-center px-4 ">
        <app-login *ngIf="showLoginComponent && !isLoggedIn" (continue)="onLoginContinue()"></app-login>
        <app-sign-up *ngIf="showSignupComponent && !isLoggedIn" (continue)="onSignupContinue()"></app-sign-up>
        <app-driver-login *ngIf="showDriverLoginComponent && !isLoggedIn" (continue)="onDriverLoginContinue()"></app-driver-login>
        <app-driver-signup *ngIf="showDriverSignupComponent && !isLoggedIn" (continue)="onDriverSignupContinue()"></app-driver-signup>
      </div>
    </div>
    
  </div>
  
  <app-customer *ngIf="isLoggedIn && !isDriver" (logout)="onLogout()"></app-customer>
  <app-driver *ngIf="isLoggedIn && isDriver" (logout)="onLogout()"></app-driver>

<router-outlet></router-outlet>


<!--
    EXAMPLE 1
<h2>Input Server Information</h2>
<input type="text" placeholder="Server Name" [(ngModel)]="Servername">
<h3>Display Server Information</h3>
<p>{{Servername}}</p>
<p>{{ServerPID}}</p>
<p>{{ServerStatus}}</p>

<button [disabled]="buttonState" (click)="toggleServerStatus()">Toggle Server status</button>
-->

<!--
    EXAMPLE 2
    //how to disable an input name button with Missing Name.
<label for="Fname">First Name</label>
<input type="text" name="Fname" placeholder="First Name" [(ngModel)]="name">

<p>{{ name }}</p>

<button (click)="resetName()" [disabled] = "checkName()">Reset name</button>

-->  
<!--
<h1 [ngStyle]="{color: getColor()}">This is an example of ngif </h1>

<h2 [ngClass]="{white: flag}"> This is just an example of ngClass</h2>

<p *ngIf="flag; else elseblock">Flag is True, Jessie! Bitch!!!</p>
<ng-template #elseblock>
<p>Flag is False, Walter White!!!</p>
</ng-template>

<button (click)="toggleFlag()">Toggle flag</button>
-->
<!--
<div *ngif="fruit" class="name"{{fruit.name}}></div> 
<script src="js/script.js" charset="utf-8"></script>




<app-assignment></app-assignment>
<app-fullcourse></app-fullcourse>
<app-mafia></app-mafia>-->