
#destination{
    color: green;
}
/* Default styles for the stars */
.stars {
    display: inline-block;
  }
  
  .star {
    cursor: pointer;
    color: gray;
  }
  
  /* Filled star color */
  .star.filled {
    color: gold;
  }
  
  /* Apply green color to stars on hover */
  .star:hover {
    color: gold;
  }
  